# virtualenv
*/venv/


# Python cache
__pycache__/
.cache/
*.pyc

# pytest
htmlcov/
.pytest_cache/

# rpi auth
rpi_camera_modules/pathfinder_gpg_passphrase.txt
rpi_camera_modules/~/
rpi_camera_modules/~
rpi_camera_modules/~/**
