body {
    background-color: #FFC177;
    font-family: 'Kameron', serif;
    overflow-x: hidden;
    overflow-y: scroll;
}

.main {
    background-color: #FFC177;
}

/** generic classes **/
.general-button {
    background-color: #69B4EA;
    border: none;
    text-align: center;
    padding: 10px 10px;
    border-radius: 3px;
    /* https://www.w3schools.com/css/css3_buttons.asp */
    -webkit-transition-duration: 0.2s; /* Safari */
    transition-duration: 0.2s;
}

.general-button:active {
    background-color: white;
    border-color: #69B4EA;
}

/** attributes for form **/
/* kindly from https://css-tricks.com/quick-css-trick-how-to-center-an-object-exactly-in-the-center/ */
#centered {
    position: fixed;
    top: 50%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
}

/** main content divs **/
.login-box {
    width: 340px;
    height: 330px;
    padding-top: 10px;
    padding-left: 20px;
    margin: auto;
    text-align: left;
    background-color: rgb(246, 246, 246);
    border-radius: 10px;
    border-bottom: 50px;
    border-style: solid;
    border-color: rgb(246, 235, 212);
}

.login-job-id-box {

}

.upload-images-box {
    padding-top: 20px;
    overflow: hidden;
}

.job-info-page {
    margin: auto;
}

.navbar {
    background-color: #ECE2D0;
    width: 100%;
    height: 50px;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 100;
}

.navbar-job-id {
    text-align: left;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    margin-left: 1%;
}

.navbar-switch-job-button {
    float: right;
    margin-right: 1%;
    padding-top: 7px;
}

.job-info-card {
    background-color: #6ab5eb;
    position: relative;
    width: 78%;
    height: 400px;
    margin-top: 70px;
    margin-left: 11%;
    margin-right: 11%;
    margin-bottom: 20px;
    right: 0;
    left: 0;
    border-radius: 6px;
    overflow: hidden;
    box-shadow: 7px 10px 10px rgb(87, 86, 83);
}

.image-display {
    margin-left: 49%;
    margin-top: 30px;
    width: 432px;
    height: 100%;
    float: left;
}

.whitespace {
  width: 40%;
  height: 100%;
  background-color: #ECE2D0;
  position: absolute;
  float: left;
}

.whitespace-header {
    margin: 0;
    text-align: center;
    color: #FF8D33;
    padding-top: 15%;
}
