[Unit]
Description=Pathfinder's Camera Service
After=network.target

[Serevice]
ExecStart=/usr/bin/python3 /home/frank/Code/srproj/2018_spring_395_pathfinder/camera/capture.py
WorkingDirectory=/home/frank/Code/srproj/2018_spring_395_pathfinder/camera
StandardOutput=inherit
StandardError=inherit
Restart=always
User=frank

[Install]
WantedBy=multi-user.target