body {
    background-color: #FFC177;
    font-family: 'Kameron', serif;
}

.main {
    background-color: #FFC177;
}

/** generic classes **/

.general-button {
    background-color: #69B4EA;
    border: none;
    text-align: center;
    padding: 10px 10px;
    border-radius: 3px;
    /* https://www.w3schools.com/css/css3_buttons.asp */
    -webkit-transition-duration: 0.2s; /* Safari */
    transition-duration: 0.2s;
}

.general-button:active {
    background-color: white;
    border-color: #69B4EA;
}

/** attributes for form **/
/* kindly from https://css-tricks.com/quick-css-trick-how-to-center-an-object-exactly-in-the-center/ */
.centered {
    position: fixed;
    top: 50%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
}

/** main content divs **/
.login-box {
    width: 340px;
    height: 330px;
    padding-top: 10px;
    padding-left: 20px;
    margin: auto;
    text-align: left;
    background-color: rgb(246, 246, 246);
    border-radius: 10px;
    border-bottom: 50px;
    border-style: solid;
    border-color: rgb(246, 235, 212);
}

.login-job-id-box {

}

.upload-images-box {
    padding-top: 20px;
    overflow: hidden;
}

.enter-button {

}

.job-info-page {
    width: auto;
}

.navbar {
    background-color: #FF8D33;
    position: fixed;
    width: 95%;
    height: 50px;
    margin-left: 2%;
    margin-right: 2%;
    border-radius: 7px;
}

.navbar-job-id {
    text-align: left;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    margin-left: 1%;
}

.navbar-switch-job-button {
    float: right;
    margin-right: 1%;
    padding-top: 7px;
}

.job-info-data {
    background-color: #FF8D33;
    position: fixed;
    width: 95%;
    height: 100%;
    margin-top: 70px;
    margin-left: 2%;
    margin-right: 2%;
    border-radius: 7px 7px 0 0;
}

.whitespace {
  width: 50%;
  background-color: white;
}
