body {
    background-color: #FFC177;
}

.main {
    background-color: #FFC177;
}

/* kindly from https://css-tricks.com/quick-css-trick-how-to-center-an-object-exactly-in-the-center/ */
.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
}

.login-box {
    font-family: 'Kameron', serif;
    width: 280px;
    height: 250px;
    padding-top: 10px;
    padding-left: 20px;
    margin: auto;
    text-align: left;
    background-color: rgb(246, 246, 246);
    border-radius: 10px;
    border-bottom: 50px;
    border-style: solid;
    border-color: rgb(246, 235, 212);
}

.job-id-box {

}

.upload-images-box {
    width: 100px;
    height: 100px;
    background-color:
}

.enter-button {

}
